html, body, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}

h1 {
    line-height: 1.3;
}

a {
    color: #07C;
    text-decoration: none;
    cursor: pointer;
}

header {
    margin: 5px 0 0 20px;
    height: 50px;
    border-bottom: 1px solid #eaebec;
    clear: both;
}

header h1 {
    color: #222426;
    font-weight: 400;
    font-size: 18px;
    float: left;
}

header a {
    float: right;
    text-decoration: none;
    font-size: x-large;    
}

.hide {
    display: none;
}

#mainbar {
    float: left;
    width: 728px;
    margin: 5px 0 0 20px;
    padding: 0;
}

.question-summary {
    overflow: hidden;
    padding: 15px 0;
    float: left;
    width: 728px;
    border-bottom: 1px solid #f0f0f0
}

.cp {
    vertical-align: top;
    float: left;
    margin-right: 10px
}

.votes {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    font-size: 11px;
    color: #777;
    padding: 5px 5px 6px 5px;
    text-align: center;
}

.status {
    display: inline-block;
    margin: 0 3px 0 0;
    min-width: 44px;
    height: auto;
    font-size: 11px;
    padding: 6px;
    text-align: center;
}

.views {
    display: inline-block;
    height: 38px;
    min-width: 40px;
    margin: 0 7px 0 0;
    font-size: 11px;
    color: #777;
    padding: 5px 5px 6px 5px;
    text-align: center;
}

.answered {
    color: #4C9067
}

.answered-accepted {
    color: #E1E818;
    background-color: #75845C
}

.unanswered .mini-counts span {
    color: #222426
}

.narrow .mini-counts {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 4px
}

.summary {
    width: 530px;
    padding: 0;
    float: left;
}

.summary h3 {
    margin-bottom: .35em;
    line-height: 1.3;
    font-size: 15px;
    font-weight: 400;
}

.tags {
    line-height: 18px;
    float: left
}

.tags a:hover {
    text-decoration: none
}

.post-tag {
    font-size: 12px;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    transition: all .15s ease-in-out;
}

.started {
    width: auto;
    line-height: inherit;
    padding-top: 4px;
    white-space: nowrap;
    float: right;
}

.started img {
    vertical-align: baseline
}

.started-link {
    font-size: 12px;
    color: #999
}

.started-link:hover {
    color: #07C
}

.relativetime {
    text-decoration: none;
}

.started .reputation-score {
    color: #848a91;
}

.reputation-score {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px
}

.question-hyperlink:visited {
    color: #005999;
}

.question-hyperlink:hover {
    color: #3af;
}

.question-hyperlink {
    color: #07C;
    line-height: 1.3;
    margin-bottom: 1.2em;
}
.question-hyperlink {
    font-size: 16px;
    font-weight: 400;
}

/* accordion */
.accordion {
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

accordion.active, accordion:hover {
    background-color: #ddd;
}

accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

accordion.active:after {
    content: "\2796";
}

div.panel {
    margin-top: 40px;
    background-color: white;
    transition: 0.3s ease-in-out;
    opacity: 0;
    display: none;
}

div.panel.show {
    opacity: 1;
    display: block;  
}

/* Animation Spin */
a.refresh.rotate {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}